In [2]:
import pandas as pd
import numpy as np
import spacy

In [8]:
math_train = pd.read_json('../Data/dolphin-number_word_std/number_word_std.dev.json')
math_test = pd.read_json('../Data/dolphin-number_word_std/number_word_std.test.json')

In [13]:
math_train.head()

,ans,ans_simple,equations,id,index,sources,text
0,{40;29},"[40, 29]","[unkn: x,y, equ: x=y+11, equ: 3*x=4*y+4]",algebra.com.117395,1043,algebra.com.117395,one number is 11 more than another number. Fin...
1,6; 9,"[6, 9]","[unkn: x,y, equ: x + 3 = y, equ: 2*y + 12 = 5*x]",yahoo.answers.20091227181039aazhen8,1617,https://answers.yahoo.com/question/index?qid=2...,One number is 3 less than a second number. Twi...
2,{34; 28},"[34, 28]","[unkn: x,y, equ: x+y=62, equ: x-y=6]",algebra.com.101793,49,algebra.com.101793,Find two numbers whose sum is 62 and whose dif...
3,{42;26},"[42, 26]","[unkn: x,y, equ: x+y=68, equ: x-y=16]",algebra.com.112903,1032,algebra.com.112903,the sum of two numbers is 68. their difference...
4,{77; 20},"[77, 20]","[unkn: x,y, equ: x+y=97, equ: x-y=57]",algebra.com.193198,1256,algebra.com.193198,the sum of two numbers is 97. the difference o...

In [23]:
math_train.iloc[65]

ans                                                      12; 14
ans_simple                                             [12, 14]
equations         [unkn: x,x+2, equ: x^2+(x+2)^2=340, equ: x>0]
id                                           algebra.com.238134
index                                                       252
sources                                      algebra.com.238134
text          the sum of the squares of two consecutive posi...
Name: 65, dtype: object